.header{
    height: 80px;
    background-color: dimgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header a:hover{
    color: rgb(255, 106, 106);
}